@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

#sobre-mim, #curriculo, #projetos {
    cursor: pointer;
}

.card {
    max-width: 18rem;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-img-app {
    height: 200px;
    object-fit: cover;
}

.brown-focus {
    color: #664A37FF;
}

.img-thumbnail {
    border: none;
    padding: 0px;
}

.socialmedia-button {
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

.socialmedia-button:hover {
    background-color: #ffd138;
}

.socialmedia-img {
    max-width: 60px;
}

.socialmedia-list {
    list-style-type: none;
}

.gray-text {
    color: #5e5e5e;
}

.img-fluid {
    max-width: 80%;
}

.desc-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.cursive-font {
    font-family: 'Palette Mosaic', cursive;
}

.session-font {
    color: black;
    font-family: 'Alfa Slab One', sans-serif;
}

.sobre-mim {
    border: 1px solid #5e5e5e;
}

.contact-email {
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.cargo {
    font-size: 1.4rem;
}

.golden-focus {
    color: #ffa938;
}

.my-name {
    background-color: #202020;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 5px;
}